<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'">
  <meta property="og:image" content="{{ site.url }}{% if page.id or page.path contains '_pages' %}{{site.baseurl}}{{page.image}}{% else %}{{ site.hero.hero__image }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta name="twitter:card" content="summary_large_image">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">

  <style>
  {% capture include_to_scssify %}
  {% if site.blog-theme == "light" %}
    {% include color-scheme/scheme-light.scss %}
    {% include main.scss %}
  {% elsif site.blog-theme == "dark" %}
    {% include color-scheme/scheme-dark.scss %}
    {% include main.scss %}
  {% else %}
    {% include color-scheme/scheme-light.scss %}
    {% include main.scss %}
  {% endif %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
  {% include social-metatags.html %}
</head>
