*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  border: 10px solid $background-color;
  color: $heading-font-color;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.dark {

    .footer__head {
      background: $background-color;

      @media only screen and (max-width: $tablet) {
        padding: 40px;
      }

      @media only screen and (max-width: $mobile) {
        padding: 30px;
      }
    }

    .subscribe-form {
      .subscribe-email {
        background: $background-color-alt;
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    font-size: 16px;
    line-height: 29px;
    border-width: 5px;
  }
}

*::selection {
  color: $white;
  background-color: rgba($brand-color, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  letter-spacing: -1px;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

blockquote {
  position: relative;
  margin-top: 30px;
  padding: 25px 25px 15px 60px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
  font-style: normal;

  &::before {
    content: '\201C';
    position: absolute;
    top: 0.35em;
    left: 0.05em;
    font-size: 3.5em;
    color: $brand-color;
  }

  p {
    margin-bottom: 10px;
  }

  cite {
    display: inline-block;
    margin-top: 7px;
    font-size: 15px;
    font-style: normal;
    color: $text-color-alt;
    &:before {
      content: '\2014' '\00a0';
    }
  }

  @media only screen and (max-width: $desktop) {
    font-size: 24px;
    line-height: 37px;
  }

  @media only screen and (max-width: $mobile) {
    padding: 38px 0 15px 35px;
    font-size: 21px;
    line-height: 31px;
  }
}

pre {
  overflow: auto;
  padding: 15px;
  margin-bottom: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

img,
.zoom-img-wrap {
  max-width: 100%;
  height: auto;
  vertical-align: middle;

  &+em {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: $heading-font-color;

    a {
      border-bottom: 1px solid $heading-font-color;
      &:hover {
        color: $link-color-hover;
        border-color: $brand-color;
      }
    }
  }
}

a {
  text-decoration: none;
  color: $link-color;
  transition: $global-transition;
  &:hover {
      color: $link-color-hover;
  }
}

hr {
  display: block;
  height: 1px;
  width: 100px;
  margin: 50px 0;
  border: 0;
  background: $hr-color;
}

.wrapper-page {
  margin-bottom: 70px;

  @media only screen and (max-width: $tablet) {
    margin-bottom: 60px;
  }
  
  @media only screen and (max-width: $mobile) {
    margin-bottom: 40px;
  }
}

.button {
  display: inline-block;
  height: 45px;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 700;
  border: none;
  outline: none;
  color: $button-color;
  background: $button-background-color;
  transition: all 0.35s;
  cursor: pointer;

  &:hover {
    color: $white;
    background: $button-background-hover;
  }
}

.lazy {
  opacity: 0;
  transition: 0.3s;

  &.loaded {
    opacity: 1
  }
}

table {
    font-size: 12px;
    color: #12111b;
    width: 100%;
    border-width: 1px;
    border-color: #12111b;
    border-collapse: collapse;
}
table tr {
    background-color: #f8f8f8;
    transition: all .3s ease;
}
table tr:nth-child(even) {
    background-color: transparent;
}
body.dark table tr:nth-child(even) {
    background-color: transparent;
}
table th {
    padding: 10px;
    font-size: 18px;
    text-align: left;
    border: 1px solid #12111b;
    color: #fff;
    font-weight: 700;
    background-color: #12111b;
}
table td {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #12111b;
}

body.dark .highlighter-rouge .highlight {
    background: #161d25;
}

body.dark .image-box img {
    background: white;
}
